<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
             "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>  
        <typeAlias alias="page" type="cn.edu.njupt.util.Page"/>
    </typeAliases>  
    <plugins>   
         <plugin interceptor="cn.edu.njupt.util.PaginationInterceptor">
             <!--拦截器的public void setProperties(Properties properties)方法读取-->  
             <property name="databaseType" value="MySql"/>
         </plugin>   
     </plugins> 
</configuration> 