<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.njupt.dao.PersonPageMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.njupt.model.PersonPage" >
    <id column="PersonpageId" property="personpageid" jdbcType="INTEGER" />
    <result column="UserID" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.edu.njupt.model.PersonPageWithBLOBs" extends="BaseResultMap" >
    <result column="Supervisor" property="supervisor" jdbcType="LONGVARCHAR" />
    <result column="Biography" property="biography" jdbcType="LONGVARCHAR" />
    <result column="Research" property="research" jdbcType="LONGVARCHAR" />
    <result column="MailAddress" property="mailAddress" jdbcType="LONGVARCHAR" />
    <result column="field_1" property="field_1" jdbcType="LONGVARCHAR" />
    <result column="field_2" property="field_2" jdbcType="LONGVARCHAR" />
    <result column="field_3" property="field_3" jdbcType="LONGVARCHAR" />
    <result column="field_4" property="field_4" jdbcType="LONGVARCHAR" />
    <result column="field_5" property="field_5" jdbcType="LONGVARCHAR" />
    <result column="field_6" property="field_6" jdbcType="LONGVARCHAR" />
    <result column="field_7" property="field_7" jdbcType="LONGVARCHAR" />
    <result column="field_8" property="field_8" jdbcType="LONGVARCHAR" />
    <result column="field_9" property="field_9" jdbcType="LONGVARCHAR" />
    <result column="field_10" property="field_10" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    PersonpageId, UserID
  </sql>
  <sql id="Blob_Column_List" >
    Supervisor, Biography, Research,MailAddress ,field_1 ,field_2 ,field_3
     ,field_4 ,field_5 ,field_6 ,field_7 ,field_8 ,field_9 ,field_10
  </sql>
  
   
  <!--根据userid查询个人主页信息  -->
   <resultMap id="PersonalPageResultMap" type="cn.edu.njupt.model.PersonPageWithBLOBs" extends="ResultMapWithBLOBs" >
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="LogonName" property="logonname" jdbcType="VARCHAR" />
    <result column="Education" property="education" jdbcType="VARCHAR" />
     <result column="PhotoUrl" property="photourl" jdbcType="VARCHAR" />
      <result column="Email" property="email" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getPersonalPageByUserId" resultMap="PersonalPageResultMap" parameterType="java.lang.Integer" >
   select 
    p.PersonpageId, p.UserID,u.UserName,u.LogonName,u.Education,
    u.PhotoUrl,u.Email,p.Supervisor, p.Biography, p.Research,p.MailAddress
    ,field_1 ,field_2 ,field_3,field_4 ,field_5 ,field_6 ,field_7 ,field_8 
    ,field_9 ,field_10
    from lab_personpage p join lab_user u
    on p.UserID = u.UserID 
    where p.UserID=#{userid,jdbcType=INTEGER}
  </select>
  <!--结束  -->
  
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from lab_personpage
    where PersonpageId = #{personpageid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lab_personpage
    where PersonpageId = #{personpageid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.njupt.model.PersonPageWithBLOBs" >
    insert into lab_personpage (PersonpageId, UserID, MailAddress, 
      Supervisor, Biography, Research, 
      field_1, field_2, field_3, 
      field_4, field_5, field_6, 
      field_7, field_8, field_9, 
      field_10)
    values (#{personpageid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{mailAddress,jdbcType=LONGVARCHAR}, 
      #{supervisor,jdbcType=LONGVARCHAR}, #{biography,jdbcType=LONGVARCHAR}, #{research,jdbcType=LONGVARCHAR}, 
      #{field_1,jdbcType=LONGVARCHAR}, #{field_2,jdbcType=LONGVARCHAR}, #{field_3,jdbcType=LONGVARCHAR}, 
      #{field_4,jdbcType=LONGVARCHAR}, #{field_5,jdbcType=LONGVARCHAR}, #{field_6,jdbcType=LONGVARCHAR}, 
      #{field_7,jdbcType=LONGVARCHAR}, #{field_8,jdbcType=LONGVARCHAR}, #{field_9,jdbcType=LONGVARCHAR}, 
      #{field_10,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.njupt.model.PersonPageWithBLOBs" >
    insert into lab_personpage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="personpageid != null" >
        PersonpageId,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="MailAddress != null" >
        mailAddress,
      </if>
      <if test="supervisor != null" >
        Supervisor,
      </if>
      <if test="biography != null" >
        Biography,
      </if>
      <if test="research != null" >
        Research,
      </if>
      <if test="field_1 != null" >
        field_1,
      </if>
      <if test="field_2 != null" >
        field_2,
      </if>
      <if test="field_3 != null" >
        field_3,
      </if>
      <if test="field_4 != null" >
        field_4,
      </if>
      <if test="field_5 != null" >
        field_5,
      </if>
      <if test="field_6 != null" >
        field_6,
      </if>
      <if test="field_7 != null" >
        field_7,
      </if>
      <if test="field_8 != null" >
        field_8,
      </if>
      <if test="field_9 != null" >
        field_9,
      </if>
      <if test="field_10 != null" >
        field_10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="personpageid != null" >
        #{personpageid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="mailAddress != null" >
        #{mailAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="supervisor != null" >
        #{supervisor,jdbcType=LONGVARCHAR},
      </if>
      <if test="biography != null" >
        #{biography,jdbcType=LONGVARCHAR},
      </if>
      <if test="research != null" >
        #{research,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_1 != null" >
        #{field_1,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_2 != null" >
        #{field_2,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_3 != null" >
        #{field_3,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_4 != null" >
        #{field_4,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_5 != null" >
        #{field_5,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_6 != null" >
        #{field_6,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_7 != null" >
        #{field_7,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_8 != null" >
        #{field_8,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_9 != null" >
        #{field_9,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_10 != null" >
        #{field_10,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.njupt.model.PersonPageWithBLOBs" >
    update lab_personpage
    <set >
      <if test="userid != null" >
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="mailAddress != null" >
        MailAddress = #{mailAddress,jdbcType=LONGVARCHAR},
      </if>
      <if test="supervisor != null" >
        Supervisor = #{supervisor,jdbcType=LONGVARCHAR},
      </if>
      <if test="biography != null" >
        Biography = #{biography,jdbcType=LONGVARCHAR},
      </if>
      <if test="research != null" >
        Research = #{research,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_1 != null" >
        field_1 = #{field_1,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_2 != null" >
        field_2 = #{field_2,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_3 != null" >
        field_3 = #{field_3,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_4 != null" >
        field_4 = #{field_4,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_5 != null" >
        field_5 = #{field_5,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_6 != null" >
        field_6 = #{field_6,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_7 != null" >
        field_7 = #{field_7,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_8 != null" >
        field_8 = #{field_8,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_9 != null" >
        field_9 = #{field_9,jdbcType=LONGVARCHAR},
      </if>
      <if test="field_10 != null" >
        field_10 = #{field_10,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where PersonpageId = #{personpageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.edu.njupt.model.PersonPageWithBLOBs" >
    update lab_personpage
    set UserID = #{userid,jdbcType=INTEGER},
      MailAddress = #{mailAddress,jdbcType=LONGVARCHAR},
      Supervisor = #{supervisor,jdbcType=LONGVARCHAR},
      Biography = #{biography,jdbcType=LONGVARCHAR},
      Research = #{research,jdbcType=LONGVARCHAR},
      field_1 = #{field_1,jdbcType=LONGVARCHAR},
      field_2 = #{field_2,jdbcType=LONGVARCHAR},
      field_3 = #{field_3,jdbcType=LONGVARCHAR},
      field_4 = #{field_4,jdbcType=LONGVARCHAR},
      field_5 = #{field_5,jdbcType=LONGVARCHAR},
      field_6 = #{field_6,jdbcType=LONGVARCHAR},
      field_7 = #{field_7,jdbcType=LONGVARCHAR},
      field_8 = #{field_8,jdbcType=LONGVARCHAR},
      field_9 = #{field_9,jdbcType=LONGVARCHAR},
      field_10 = #{field_10,jdbcType=LONGVARCHAR}
    where PersonpageId = #{personpageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.njupt.model.PersonPage" >
    update lab_personpage
    set UserID = #{userid,jdbcType=INTEGER}
    where PersonpageId = #{personpageid,jdbcType=INTEGER}
  </update>
</mapper>