<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.njupt.dao.SystemDDLMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.njupt.model.SystemDDL" >
    <id column="SeqID" property="seqid" jdbcType="INTEGER" />
    <result column="Keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="DdlCode" property="ddlcode" jdbcType="INTEGER" />
    <result column="DdlName" property="ddlname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SeqID, Keyword, DdlCode, DdlName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lab_systemddl
    where SeqID = #{seqid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lab_systemddl
    where SeqID = #{seqid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.njupt.model.SystemDDL" >
    insert into lab_systemddl (SeqID, Keyword, DdlCode, 
      DdlName)
    values (#{seqid,jdbcType=INTEGER}, #{keyword,jdbcType=VARCHAR}, #{ddlcode,jdbcType=INTEGER}, 
      #{ddlname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.njupt.model.SystemDDL" >
    insert into lab_systemddl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        SeqID,
      </if>
      <if test="keyword != null" >
        Keyword,
      </if>
      <if test="ddlcode != null" >
        DdlCode,
      </if>
      <if test="ddlname != null" >
        DdlName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        #{seqid,jdbcType=INTEGER},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="ddlcode != null" >
        #{ddlcode,jdbcType=INTEGER},
      </if>
      <if test="ddlname != null" >
        #{ddlname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.njupt.model.SystemDDL" >
    update lab_systemddl
    <set >
      <if test="keyword != null" >
        Keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="ddlcode != null" >
        DdlCode = #{ddlcode,jdbcType=INTEGER},
      </if>
      <if test="ddlname != null" >
        DdlName = #{ddlname,jdbcType=VARCHAR},
      </if>
    </set>
    where SeqID = #{seqid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.njupt.model.SystemDDL" >
    update lab_systemddl
    set Keyword = #{keyword,jdbcType=VARCHAR},
      DdlCode = #{ddlcode,jdbcType=INTEGER},
      DdlName = #{ddlname,jdbcType=VARCHAR}
    where SeqID = #{seqid,jdbcType=INTEGER}
  </update>
</mapper>