<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.njupt.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.njupt.model.UserRole" >
    <id column="SeqID" property="seqid" jdbcType="INTEGER" />
    <result column="UserID" property="userid" jdbcType="VARCHAR" />
    <result column="RoleID" property="roleid" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    SeqID, UserID, RoleID, remark
  </sql>
   <!--用户角色表  -->
  <resultMap id="UserRoleResultMap" type="cn.edu.njupt.model.UserRole" >
    <result column="UserID" property="userid" jdbcType="VARCHAR" />
    <result column="RoleID" property="roleid" jdbcType="VARCHAR" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="LogonName" property="logonname" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
   <select id="findUserRoleByRoleId"   resultMap="UserRoleResultMap" parameterType="string" >
	  select distinct case b.RoleID 
		when  
		  <if test="_parameter != null" >
	        #{_parameter}
	      </if>
	     then '1' else '0' end as flag,
		a.UserID,
		a.UserName,
		a.LogonName
		from lab_user a left join lab_user_role b
		on a.UserID = b.UserID
	    <if test="_parameter != null" >
	      and b.RoleID = #{_parameter}
	    </if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lab_user_role
    where SeqID = #{seqid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lab_user_role
    where SeqID = #{seqid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.njupt.model.UserRole" >
    insert into lab_user_role (SeqID, UserID, RoleID, 
      remark)
    values (#{seqid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.njupt.model.UserRole" >
    insert into lab_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        SeqID,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="roleid != null" >
        RoleID,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        #{seqid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.njupt.model.UserRole" >
    update lab_user_role
    <set >
      <if test="userid != null" >
        UserID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        RoleID = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where SeqID = #{seqid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.njupt.model.UserRole" >
    update lab_user_role
    set UserID = #{userid,jdbcType=VARCHAR},
      RoleID = #{roleid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where SeqID = #{seqid,jdbcType=INTEGER}
  </update>
  
</mapper>